

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
} 
 
* {
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  font-family: "Poppins", "Reem Kufi", "Montserrat", sans-serif;
  background-color: rgb(205, 206, 194, 0.1);
}

.todolist{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 2rem;
}

h1{
  font-size: 2.5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  border: 0;
  border-bottom: 3px solid rgb(236, 18, 18);
  color: #0c0a0af6;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

input[type='text']{
  font-size: 1.6rem;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #0c0a0af6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: rgb(12, 10, 10) ;
}

button{
  font-size: 1.5rem;
  padding: 11.5px 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  background-color: rgb(236, 18, 18);
  transition: background-color 0.5s ease;
}

button:hover{
  background-color: rgb(12, 10, 10);
}

ol{
  padding: 0;
}

li{
  font-size: 1.5rem;
  padding: 15px;
  background-color:rgb(255, 255, 255) ;
  border: 3px solid rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.text{
  flex: 1;
  margin-right: 2rem;
}

.delete-button{
  font-size: 1.9rem;
  padding: 0px;
  margin-left:7px ;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 200;
  background-color: rgb(28, 159, 247);
}

.move-button{
  font-size: 1.9rem;
  padding: 0;
  margin-left:7px ;
  border-radius: 5px;
  background-color: rgb(28, 159, 247);
}

@media (max-width: 960px) {
  
}

@media (max-width: 600px) {
  .todolist{
      padding-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
  }
  input[type='text']{
    font-size: 1.4rem;
    padding: 10px;
  }

  .input-boxes{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button{
    font-size: 1.2rem;
    padding: 13px 20px;
  }

  li{
    font-size: 1.4rem;
    padding: 10px;
    margin-bottom: 0.3rem;
  }

  .delete-button{
    font-size: 1.8rem;
    padding: 0px;
    margin-left:7px ;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 200;
  }
  
  .move-button{
    font-size: 1.8rem;
    padding: 0;
    margin-left:7px ;
  }
}

